body,
html,
* {
  font-size: 10px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  font-family: "EB Garamond", serif;
}
h1 {
  font-size: 10rem;
  text-align: center;
  margin: 1rem auto;
  font-family: "EB Garamond", serif;
}
.art {
  width: 400px;
  height: 350px;
  background-color: #fff7ee;
  border-radius: 5px;
  margin: 100px 0 auto;
  flex-wrap: wrap;
  justify-content: space-between;
  box-shadow: 5px 5px 10px 2px #ebebeb;
}
.name {
  font-size: 30px;
  text-align: center;
  background-color: #fff7ee;
}
.region {
  font-size: 25px;
  text-align: center;
  background-color: #fff7ee;
}
.container {
  width: 90vw;
  background-color: #f2f2f2;
  margin: 25px auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.filter-container {
  height: 100px;
  width: 1200px;
  margin: auto;
  text-decoration: none;
}
.filter-art {
  font-size: 30px;
  margin-left: 30px;
  margin-top: 10px;
  background-color: #f2f2f2;
  align-self: center;
  border-radius: 5px;
  border-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  height: 50px;
  width: 100px;
}
.img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-image: 10px;
  width: 400px;
  height: auto;
}
.formthings {
  font-size: 30px;
  margin-left: 30px;
  margin-top: 10px;
  background-color: #f2f2f2;
  align-self: center;
  border-radius: 5px;
  border-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  height: 50px;
  width: 300px;
}
