body,
html,
* {
  font-size: 10px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #d9cfc7;
  font-family: "Epunda Slab", serif;
}
h1 {
  font-size: 10rem;
  text-align: center;
  margin: 1rem auto;
}
.filter-container {
  height: 100px;
  width: 1200px;
  margin: auto;
  text-decoration: none;
}
.filter-art {
  font-size: 30px;
  margin-left: 90px;
  margin-top: 10px;
  background-color: #f9f8f6;
  align-self: center;
  border-radius: 5px;
  border-color: #f9f8f6;
  border: 1px solid #f9f8f6;
  border-radius: 4px;
  height: 50px;
  width: 140px;
}
EFE9E3