:root {
  --primary: #f2f2f2;
  --secondary: #1f1f1f;
}
* {
  font-size: 10px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--primary-color);
  font-family: "EB Garamond", serif;
  background-color: var(--primary);
  color: var(--secondary);
}
h1 {
  font-size: 10rem;
  text-align: center;
  margin: 1rem auto;
  font-family: "EB Garamond", serif;
}

* {
  background-color: var(--primary);
}
.art {
  width: 400px;
  height: 350px;
  background-color: var(--primary-color);
  border-radius: 5px;
  margin: 100px 0 auto;
  flex-wrap: wrap;
  justify-content: space-between;
}
.name {
  font-size: 30px;
  text-align: center;
  background-color: var(--primary-color);
}
.region {
  font-size: 25px;
  text-align: center;
  background-color: var(--primary-color);
}
.container {
  width: 90vw;
  background-color: var(--primary-color);
  margin: 25px auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.filter-container {
  height: 100px;
  width: 1200px;
  margin: auto;
  text-decoration: none;
}
.filter-art {
  font-size: 30px;
  margin-left: 30px;
  margin-top: 10px;
  background-color: var(--primary-color);
  align-self: center;
  border-radius: 5px;
  border-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  height: 50px;
  width: 100px;
}
.img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-image: 10px;
  width: 400px;
  height: auto;
}
.formthings {
  font-size: 30px;
  margin-left: 80rem;
  margin-top: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: var(--primary-color);
  border-radius: 5px;
  border-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  height: 50px;
  height: 30px;
  width: 300px;
}
.form {
  text-align: center;
  margin-bottom: 20px;
}
.modal {
  position: fixed;
  border-radius: 10px;
  display: none;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  inset: 0;
}
.modalimg {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.artoftheday {
  text-align: center;
  margin: auto;
  justify-content: center;
  display: flex;
}
.artofthedayname {
  text-align: center;
  font-size: 4rem;
  background-color: var(--primary-color);
  margin-bottom: 20px;
}
.artofthedayimg {
  width: 100rem;
  border-radius: 10px;
  margin: auto;
  align-self: center;
  justify-content: center;
  display: flex;
}
.cool {
  --primary: #f2f2f2;
  --secondary: #1f1f1f;
}
.warm {
  --primary: #1f1f1f;
  --secondary: #f2f2f2;
}
.hero {
  background-color: var(--primary);
}
.main {
  background-color: var(--primary);
}
.darkmodebtn {
  background-color: var(--primary);
  color: var(--secondary);
  border-color: var(--primary);
  font-size: large;
}
